/* * {
  border: 1px solid red;
} */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #33383f;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    font-family: 'Merienda One', cursive;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #00bd9c;
    background-color: #212628;
}

header > h2 {
    margin: 2rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.gameboard {
    font-family: 'Merienda One', cursive;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 3rem 0 5rem 0;
}

.space {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 700;
    border: 10px solid #00bd9c;
}

.space:hover {
    cursor: pointer;
}

/* First row */
.space:nth-child(-n+3) {
    border-top: none;
}

/* Last row */
.space:nth-last-child(-n+3) {
    border-bottom: none;
}

/* Left column */
.space:nth-child(3n+1) {
    border-left: none;
}

/* Right column */
.space:nth-child(3n) {
    border-right: none;
}

button {
    cursor: pointer;
    font-size: 1.5rem;
    background-color: #212628;
    color: #00bd9c;
    border: none;
    border-radius: 8px;
    padding: 1rem 4rem;
}

button:hover {
    background-color: black;
}